# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary repo maintainers
*                            @zivkovicmilos

# Special files
LICENSE.md                   @jaekwon @moul
.github/CODEOWNERS           @jaekwon @moul